/* --- Import Fonts --- */
@import url('./fonts/fonts.css');

/* color palette from <https://github.com/vuejs/theme> */
:root {
   --vt-c-white: #ffffff;
   --vt-c-white-soft: #f8f8f8;
   --vt-c-white-mute: #f2f2f2;

   --vt-c-black: #181818;
   --vt-c-black-soft: #222222;
   --vt-c-black-mute: #282828;

   --vt-c-indigo: #2c3e50;

   --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
   --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
   --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
   --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

   --vt-c-text-light-1: var(--vt-c-indigo);
   --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
   --vt-c-text-dark-1: var(--vt-c-white);
   --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
   --primary-color: #ff92cb;
   --secondary-color: #5250a4;
   --color-background: var(--secondary-color);
   --color-background-soft: var(--vt-c-white-soft);
   --color-background-mute: var(--vt-c-white-mute);

   --color-border: var(--vt-c-divider-light-2);
   --color-border-hover: var(--vt-c-divider-light-1);

   --color-heading: var(--vt-c-text-light-1);
   --color-text: var(--vt-c-text-light-1);

   --section-gap: 160px;

   /* Custom color variable */

   --secondary-bg-color: #39317d;
}

@media (prefers-color-scheme: dark) {
   :root {
      --primary-color: #ff92cb;
      --secondary-color: #5250a4;
      --color-background-mute: var(--secondary-color);

      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);

      --color-heading: var(--vt-c-text-dark-1);
      --color-text: #ffffff;
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
   /* margin: 0; */
   /* font-weight: normal; */
}

/* --- Override PrimeVue varialbe with custome one --- */
:root {
   /* -- Buttons -- */

   /* This correspond to the hover background color of outlined buttons */
   --p-button-outlined-primary-hover-background: var(--primary-color) !important;

   /* This correspond to the hover color of outlined buttons */
   --p-button-primary-hover-color: var(--secondary-color) !important;

   /* This correspond to the background color of buttons when clicked */
   --p-button-outlined-primary-active-background: #f472b6 !important;

   /* This correspond to the border color of outlined buttons */
   --p-button-outlined-primary-border-color: var(--primary-color) !important;

   /* This correspond to the font-weight of the text in buttons label */
   --p-button-label-font-weight: 600 !important;
}

body {
   display: flex;
   justify-content: center;
   color: var(--color-text);
   background: var(--color-background);
   transition:
      color 0.5s,
      background-color 0.5s;
   line-height: 1.6;
   font-family:
      Geist,
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
   font-size: 15px;
   text-rendering: optimizeLegibility;
}
