@import './base.css';

/* Tailwind */
@import 'tailwindcss' important;

/* PrimeVue Tailwind Plugin */
@import 'tailwindcss-primeui';

/* Hover.css */
@import 'hover.css';

/* PrimeVue Icons */
@import 'primeicons/primeicons.css';

/* ==== Custom Tailwind ==== */
@theme {
   --color-*: initial;
   --color-white: #ffffff;
   --color-black: #000000;
   --color-primary: var(--primary-color);
   --color-secondary: var(--secondary-color);
   --color-invalid: #ef4444;
   --color-valid: #22c55e;
   --color-warn: #f97316;
   --color-review-best: #84bd3a;
   --color-review-average: #fea200;
   --color-review-bad: #e51404;
   --color-bg2: #393273;
   --color-bg3: #39317d;
   --color-bg4: #7c50a4;
   --color-card-bg: #242424;

   --color-custom-red: #a45078;
   --color-custom-lightblue: #5078a4;
   --color-custom-purple: #7c50a4;

   --color-btn-active: #dcdbdb;
   --color-btn-hover: #ff94cb;

   --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-md: 0 1px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-xl: 0 2px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-2xl: 0 2.5px 2.5px rgb(0 0 0 / 0.4);
   --drop-shadow-3xl: 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* Custom hover classes */
@import './css/hover-effects.css';

/* Custom primevue style */
@import './css/custom-primevue.css';

/* Custom vue transitions animations */
@import './css/transition-animations.css';

/* Custom toastify toast style */
@import './css/custom-toast.css';

/* Site style */
#app {
   width: 100%;
   max-width: 1450px;
}

/* ==== Custom Shadow Effects ==== */

/* - Custom shadow effect for small size svg icons - */
.shadow-effect-svg {
   filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
}
/* - Custom shadow effect for text */
.shadow-effect-txt {
   filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
}
