@import './base.css';

/* --- Import Tailwind --- */
@import 'tailwindcss' important;

/* --- Import PrimeVue Tailwind Plugin --- */
@import 'tailwindcss-primeui';

/* --- Import Hover.css --- */
@import 'hover.css';

/* --- Import PrimeVue Icons --- */
@import 'primeicons/primeicons.css';

/* --- Import Custom hover classes */
@import './css/hover-effects.css';

/* --- Custom Tailwind --- */
@theme {
   --color-*: initial;
   --color-white: #ffffff;
   --color-black: #000000;
   --color-primary: var(--primary-color);
   --color-secondary: var(--secondary-color);
   --color-invalid: #ef4444;
   --color-valid: #22c55e;
   --color-warn: #f97316;
   --color-review-best: #84bd3a;
   --color-review-average: #fea200;
   --color-review-bad: #e51404;
   --color-bg2: #393273;
   --color-bg3: #39317d;
   --color-bg4: #7c50a4;
   --color-card-bg: #242424;

   --color-custom-red: #a45078;
   --color-custom-lightblue: #5078a4;
   --color-custom-purple: #7c50a4;

   --color-btn-active: #dcdbdb;

   --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-md: 0 1px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-xl: 0 2px 2px rgb(0 0 0 / 0.4);
   --drop-shadow-2xl: 0 2.5px 2.5px rgb(0 0 0 / 0.4);
   --drop-shadow-3xl: 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* --- General --- */

/* - Contains the entire site - */
#app {
   width: 100%;
   max-width: 1450px;
}

/* --- Shadow Effects --- */

/* - Custom shadow effect for small size svg icons - */
.shadow-effect-svg {
   filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
}
/* - Custom shadow effect for text */
.shadow-effect-txt {
   filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
}

/* --- Override PrimeVue styling --- */

:root {
   /* -- Buttons -- */

   /* This correspond to the hover background color of outlined buttons */
   --p-button-outlined-primary-hover-background: var(--primary-color) !important;

   /* This correspond to the hover color of outlined buttons */
   --p-button-primary-hover-color: var(--secondary-color) !important;

   /* This correspond to the background color of buttons when clicked */
   --p-button-outlined-primary-active-background: #f472b6 !important;

   /* This correspond to the border color of outlined buttons */
   --p-button-outlined-primary-border-color: var(--primary-color) !important;

   /* This correspond to the font-weight of the text in buttons label */
   --p-button-label-font-weight: 600 !important;

   /* Overide default multiselect placeholder color text */
   --p-select-placeholder-color: none !important;
   --p-select-color: none !important;
   --p-select-option-selected-focus-color: none !important;
   --p-select-clear-icon-color: none !important;
   --p-select-dropdown-color: none !important;
}
/* This correspond to the text in the tiered menu dropdown */
.p-tieredmenu-item-label {
   font-size: 16px !important;
   color: #334155;
}
/* This allow to use custom icons with the iconfield component */
.p-menuitem-text {
   margin-left: 6px;
}
.p-iconfield {
   display: flex !important;
   align-items: center !important;
}
.p-inputicon {
   top: unset !important;
   margin-top: unset !important;
   left: 4.1% !important;
}

/* This allow to use custom icons with the iconfield component and password component */
.password-input-custom-spacing {
   padding-left: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size)) !important;
}
/* Insure error highlight overwrite the rest */
.p-invalid {
   border-color: var(--p-inputtext-invalid-border-color) !important;
}
