/* --- Hover Effects --- */

/* - Text hover underline effect (the text element need to have position relative for this to work) - */
.hover-effect-text-underline::after {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   content: '';
   opacity: 0;
   transition:
      opacity 0.3s,
      transform 0.3s;
   transform: translateY(10px);
}
.hover-effect-text-underline:hover::after {
   opacity: 1;
   transform: translateY(0px);
}

/* - Text hover underline effect using marker style underline - */
.hover-effect-text-underline-marker {
   background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
   background-repeat: no-repeat;
   background-size: 100% 0.4em;
   background-position: 0 85%;
   transition: background-size 0.25s ease-in;
}
.hover-effect-text-underline-marker:hover {
   background-size: 100% 90%;
}

/* - Svg hover color effect - */
.hover-effect-svg-stroke:hover {
   stroke: var(--primary-color) !important;
}
.hover-effect-svg-fill:hover path {
   fill: #eb8ad2 !important;
}

/* - Icon spin hover effect - */
.hover-icon-spin {
   display: inline-block;
   vertical-align: middle;
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover-icon-spin .hover-icon {
   transition-duration: 0.25s;
   transition-property: transform;
   transition-timing-function: ease-in-out;
}
.hover-icon-spin:hover .hover-icon {
   transform: rotate(90deg);
}
