/** ---- STORE FONTS ---- */

/** ---- GEIST FONT ---- */
@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Bold.woff2') format('woff2'),
      url('./Geist/Geist-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Thin.woff2') format('woff2'),
      url('./Geist/Geist-Thin.woff') format('woff');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Medium.woff2') format('woff2'),
      url('./Geist/Geist-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Black.woff2') format('woff2'),
      url('./Geist/Geist-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-ExtraLight.woff2') format('woff2'),
      url('./Geist/Geist-ExtraLight.woff') format('woff');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Light.woff2') format('woff2'),
      url('./Geist/Geist-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-SemiBold.woff2') format('woff2'),
      url('./Geist/Geist-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-ExtraBold.woff2') format('woff2'),
      url('./Geist/Geist-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src:
      url('./Geist/Geist-Regular.woff2') format('woff2'),
      url('./Geist/Geist-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/** ---- MONTSERRAT FONT ---- */
@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Thin.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Thin.woff') format('woff');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ThinItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Italic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
      url('./Montserrat/Montserrat-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Light.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Thin.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Thin.woff') format('woff');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ThinItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-MediumItalic.woff') format('woff');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Black.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-BlackItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('./Montserrat/Montserrat-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ExtraLight.woff') format('woff');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src:
      url('./Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
      url('./Montserrat/Montserrat-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

/** ---- POPPINS FONT ---- */
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-BoldItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Bold.woff2') format('woff2'),
      url('./Poppins/Poppins-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Black.woff2') format('woff2'),
      url('./Poppins/Poppins-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-ExtraBold.woff2') format('woff2'),
      url('./Poppins/Poppins-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-BlackItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-BlackItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Italic.woff2') format('woff2'),
      url('./Poppins/Poppins-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-MediumItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-MediumItalic.woff') format('woff');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-ExtraLight.woff2') format('woff2'),
      url('./Poppins/Poppins-ExtraLight.woff') format('woff');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Thin.woff2') format('woff2'),
      url('./Poppins/Poppins-Thin.woff') format('woff');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Regular.woff2') format('woff2'),
      url('./Poppins/Poppins-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-ExtraLightItalic.woff') format('woff');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-LightItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Medium.woff2') format('woff2'),
      url('./Poppins/Poppins-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('./Poppins/Poppins-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-SemiBoldItalic.woff') format('woff');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-Light.woff2') format('woff2'),
      url('./Poppins/Poppins-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Poppins';
   src:
      url('./Poppins/Poppins-ThinItalic.woff2') format('woff2'),
      url('./Poppins/Poppins-ThinItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}
